extends layout

block vars
    - let title = '新闻详情页'

block content
    div
        include lib/head
        section.banner_zi
            div
                img(src='/public/images/banner_new.png', alt='')

        .head_bar
            span 位置：
            a(href='/') 首页 
            |  > 
            a(href='news') 新闻动态
            |  > 
            span.active 暑假去哪玩？桃花苑天地避暑甚好！
        .news_show
            span.show_t 暑假去哪玩？桃花苑天地避暑甚好！
            span.fa_time 来源：珍岛         发布时间：2016-07-21
            p
                | 暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，
                | 走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。
                | 少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。
            .s_img.clearfix
                .pic
                    img.vcenter(src='/public/images/show1.png', alt='')
                    i
                .pic
                    img.vcenter(src='/public/images/show2.png', alt='')
                    i
            p
                | 同时，为客户准备了微景观制作DIY活动，亲手制作微景观故事瓶，
                | 把清新的绿色带回家，让广大青少年在亲手制作绿植微景观的过程中
                | 锻炼动手能力，培养想象力，创造力和审美能力，同时，增强绿化意
                | 识、环保意识和生态意识。暑期近在眼前，还在犹豫带孩子去哪儿玩
                | 吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，
                | 走遍大好河山，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。
            p
                | 同时，为客户准备了微景观制作DIY活动，亲手制作微景观故事瓶，把清新的
                | 绿色带回家，让广大青少年在亲手制作绿植微景观的过程中
                | 锻炼动手能力，培养想象力，创造力和审美能力，同时，增强绿化意识、环保意识和生态意识
            .s_x.clearfix
                a.s_prev(href='') 上一篇：这是我们想去的地方
                a.x_next(href='') 下一篇：花落流水春又去
        .home_news
            .news_con
                .top_tit
                    span.span1
                        a(href='news') 相关新闻
                    br
                ul
                    li.clearfix
                        .news_left
                            a(href='news') 暑假去哪玩？桃花苑天地避暑甚好！
                            p
                                | 暑期近在眼前，还在犹豫带孩子去哪儿玩吗？炎热的夏天，一颗躁动的心，背上收拾好的背包，走遍大好河山
                                | ，感受大千世界，还不如隐居室外桃源桃花苑天地精品。少一些城市的喧嚣，回归大自然的清新脱俗，来一场说走就走的夏日之旅吧。
                        .news_right
                            span 07.21
                            time 2016
                    li.clearfix
                        .news_left
                            a(href='news') 花落流水春又去
                            p
                                | 春暖花开，桃花苑天地精品大咖云集，活动丰富。不仅有适合小朋友们的春游活动，有适合老年朋友的喝茶加棋牌，
                                | 还有书法大咖们的加盟，乃至电视真人秀节目的拍摄。这可把桃花宝宝们忙坏了，不过没关系，累并快乐着，桃花宝宝非常欢迎大家的到来……
                        .news_right
                            span 05.25
                            time 2016
                    li.clearfix
                        .news_left
                            a(href='news') 蝴蝶摘花来
                            p
                                | 清朝末年，先生在宁波开了一家面店，生意不错。一天，一位即将回国的美国华侨
                                | ，登船前来到卜先生的店里吃面，离店时竟把一只皮箱落下了。
                                | 先生打烊时才发现这只皮箱，但已无法找到失主，只好把皮箱小心收藏，等待着失主前来认领。
                        .news_right
                            span 05.25
                            time 2016
                    li.clearfix
                        .news_left
                            a(href='news') 这是我们想去的地方
                            p
                                | 春暖花开，桃花苑天地精品大咖云集，活动丰富。不仅
                                | 有适合小朋友们的春游活动，有适合老年朋友的喝茶加棋牌，
                                | 还有书法大咖们的加盟，乃至电视真人秀节目的拍摄。
                                | 这可把桃花宝宝们忙坏了，不过没关系，累并快乐着，桃花宝宝非常欢迎大家的到来……
                        .news_right
                            span 05.25
                            time 2016
                a.more(href='news') MORE
