footer.footer
    .footer_con
        .con
            .nei
                div
                    ul.di_nav.clearfix
                        li
                            a(href='scenic') 景区概况
                        li
                            a(href='literary') 文苑之旅
                        li
                            a(href='residence') 舒雅住宅
                        li
                            a(href='news') 新闻动态
                        li
                            a(href='feedback') 留言中心
                        li
                            a(href='contact') 联系我们
                    .links
                        | 友情链接
                        ul
                            li
                                a(href='') 百度文化
                            li
                                a(href='') 新浪微博
                            li
                                a(href='') 百度知道
                .clear
                .lian
                    | 电话：
                    a(href='tel:021-31265245') 021-31265245
                    br
                    | 邮箱：
                    a(href='mailto:Eason.wang@71360.com') Eason.wang@71360.com
                    br
                    | 手机：
                    a(href='tel:189 1610 1908') 189 1610 1908
                    br
                    | 地址：上海市虹口区水电路682号 天虹商务大厦6F、7F、11F
                    br
                    a(href='map') 网站地图
                    br
                    span
                        a(href='http://www.71360.com/', target='_blank')
                            img(src='/public/images/yu.png', alt='')
                        span.er_a
                            img.one_img(src='/public/images/er.png', alt='')
                            | 珍岛公众号
                            img.er_img(src='/public/images/erwei.png', alt='')
    .copy Copyright© 2016  版权所有：上海珍岛茶业有限公司