header.header_zi
    .container
        .logo
            a(href='/')
                img(src='/public/images/logo.png', alt='')
        a.phone-nav(href='#mmenu')
            i.fa.fa-list
        .logo_right
            nav.nav
                ul
                    li
                        a(href='/') 首页
                    li
                        a.active(href='scenic') 景区概况
                    li
                        a(href='literary') 文苑之旅
                        ul
                            li
                                a(href='literary') 茶艺中心
                            li
                                a(href='literary') 万竹林海
                            li
                                a(href='literary') 创意中心
                            li
                                a(href='literary') 花草园艺
                    li
                        a(href='residence') 舒雅住宅
                    li
                        a(href='news') 新闻动态
                        ul
                            li
                                a(href='news') 公司新闻
                            li
                                a(href='news') 行业新闻
                    li
                        a(href='feedback') 留言中心
                    li
                        a(href='contact') 联系我们
            .search
                span.sea_x
                    input(type='', name='', id='', placeholder='请输入关键词')
                    i.fa.fa-search
                span.y_z
                    a.zh.active(href='') 中
                    a.en(href='') En
nav#mmenu
    ul
        li
            a.active(href='/') 首页
        li
            a(href='scenic') 景区概况
        li
            a(href='literary') 文苑之旅
            ul
                li
                    a(href='literary') 茶艺中心
                li
                    a(href='literary') 万竹林海
                li
                    a(href='literary') 创意中心
                li
                    a(href='literary') 花草园艺
        li
            a(href='residence') 舒雅住宅
        li
            a(href='news') 新闻动态
            ul
                li
                    a(href='news') 公司新闻
                li
                    a(href='news') 行业新闻
        li
            a(href='feedback') 留言中心
        li
            a(href='contact') 联系我们